*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
button {
  color: inherit;
}
button,
[role="button"] {
  cursor: pointer;
}
code {
  font-family:
    ui-monospace,
    SFMono-Regular,
    Menlo,
    Monaco,
    Consolas,
    "Liberation Mono",
    "Courier New",
    monospace;
  font-size: 1em;
}
img,
svg {
  display: block;
}
img,
video {
  max-width: 100%;
  height: auto;
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
}

body {
  display: flex;
  justify-content: center;
}


main {
  margin: 2rem 10%;
  max-width: 80rem;
  width: -moz-available;
  width: -webkit-fill-available;
}

.emoji {
  font-size: 200%;
  margin-right: .2rem;
}

#PoliticianGrid {
  display: grid;
  grid-auto-columns: 12rem;
  grid-template-columns: repeat(auto-fill, 12rem);
  align-items: stretch;
  gap: 1rem;
  margin-top: 2rem;
  width: -moz-available;
  width: -webkit-fill-available;
}

.politicianBox {
  width: 12rem;
  min-height: 8.5rem;
  border-radius: .4rem;
  padding: 0 .4rem;
}

.partySticker {
  border-radius: .4rem;
  text-align: center;
  margin: 0 4px;
}

.smallPartyName {
  color: #666; /* pour le contraste de couleurs */
  line-height: .8rem;
  text-align: right;
  font-style: italic;
}

.barContainer {
  display: flex;
  align-items: center;
  gap: .4rem;
}

.bar {
  border-radius: .2rem;
  padding-left: .2rem;
  white-space: nowrap;
}

.barsGroup {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: .4rem;
}

#ParlementContainer {
  max-width: 50rem;
  margin: 2rem auto;
  padding-left: 50px;
}

@media screen and (max-width: 480px) {
  /* smartphones */
  body {
    max-width: 20rem;
  }
  #PoliticianGrid {
    width: auto;
  }
  .partySticker {
    font-size: 80%;
  }
}
